{
    // preset is a collection of code-transform plugins
    "presets": [
        // environment
        ["env", {
            "targets": {
                "browsers": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}